// iScFlow nextflow config file

process {
  withName: '1_fastqc_reads_before_trim' {
    container = 'elynfw/fastqc:0.11.5'
  }
  withName: '2_trim-galore_reads' {
    container = 'quay.io/biocontainers/trim-galore:0.6.4--1'
  }
/*  withName:  {
    container = ''
  }
  withName:  {
    container = ''
  }
  withName:  {
    container = ''
  }
*/
}

docker.enabled = true
docker.runOptions="-u \$(id -u):\$(id -g)"
